<!DOCTYPE html>
<html>
  <head>
    <title>Self Destructing Message</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table class="table">
      <tr><td>
        <%= render 'layouts/header' %>
      </td></tr>
      <tr><td>
	    <div class="container">
          <%= yield %>
	      </td></tr>
	      <tr><td>
	      <%= render 'layouts/footer' %>
	    </div>
	  </td></tr>
	</table>
  </body>
</html>
